<%= form_for City.new do |f| %>
  <%= f.text_field :name, :placeholder => "New City" %>
  <%= f.submit 'Add' %>
<% end %>

<h2>Cities</h2>

<div id="cities_info">
  <%= @cities.offset_value + 1 %>..<%= @cities.offset_value + @cities.length %>
</div>

<ul>
  <% @cities.each do |city| %>
    <li><%= city.name %></li>
  <% end %>
</ul>

<%= paginate @cities, :num_pages => @num_pages, :per_page => @per_page %>
